In [20]:
import math
import pandas as pd
import numpy as np

data = pd.read_csv("house-votes-84.csv.bz2")

print data.head()

   republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0  republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1    democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2    democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3    democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4    democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y

In [4]:
data.describe()

,republican,n,y,n.1,y.1,y.2,y.3,n.2,n.3,n.4,y.4,?,y.5,y.6,y.7,n.5,y.8
count,434,434,434,434,434,434,434,434,434,434,434,434,434,434,434,434,434
unique,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
top,democrat,n,y,y,n,y,y,y,y,y,y,n,n,y,y,n,y
freq,267,235,194,253,247,211,271,239,242,207,215,264,233,208,247,232,268

In [8]:
print "Democrats: ", 267/434.0
print "Republicans: ", (434-267)/434.0

Democrats:  0.615207373272
Republicans:  0.384792626728

In [15]:
infant_y = data[data.iloc[:,1] == 'y']
infant_n = data[data.iloc[:,1] == 'n']

In [16]:
infant_y.describe()

,republican,n,y,n.1,y.1,y.2,y.3,n.2,n.3,n.4,y.4,?,y.5,y.6,y.7,n.5,y.8
count,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187
unique,2,1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
top,democrat,y,y,y,n,n,n,y,y,y,n,n,n,n,n,y,y
freq,156,187,88,151,150,126,105,140,146,121,101,106,142,123,112,98,120

In [18]:
print "% dem: ", 156/187.0
print "% rep: ", (187-156)/187.0

% dem:  0.83422459893
% rep:  0.16577540107

In [17]:
infant_n.describe()

,republican,n,y,n.1,y.1,y.2,y.3,n.2,n.3,n.4,y.4,?,y.5,y.6,y.7,n.5,y.8
count,235,235,235,235,235,235,235,235,235,235,235,235,235,235,235,235,235
unique,2,1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
top,republican,n,n,n,y,y,y,n,n,n,y,n,y,y,y,n,y
freq,133,235,108,134,141,156,189,137,137,150,126,155,135,149,172,145,145

In [19]:
print "% dem: ", (235-133)/235.0
print "% rep: ", 133/235.0

% dem:  0.434042553191
% rep:  0.565957446809

In [22]:
print "infant_y entropy", (-1*(.8342*math.log(.8342,2))-1*(.1657*math.log(.1657,2)))
print "infant_n entropy", (-1*(.4340*math.log(.4340,2))-1*(.5659*math.log(.5659,2)))

infant_y entropy 0.647891155074
infant_n entropy 0.987456628493

In [24]:
print "final entropy: ", ((.6478*187)+(.9874*235))/(187+235)

final entropy:  0.836913744076